name: CI

on:
  push:
  pull_request:

jobs:
  flake-check:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - name: Nix flake check
        env:
          NIXPKGS_ALLOW_UNFREE: "1"
        run: |
          nix flake check --impure
